<tr id="comment-25">
  <td style="width: 60px">
  　<%= image_tag 'sample', size: '50x50', class: 'rounded-circle mr15'%>
  </td>
  <td>
    <h3 class="small"><%= comment.user.decorate.full_name %></h3>
    <div id="js-comment-25">
      <p><%= comment.body %></p>
    </div>
  </td
  <td class="action">
  <% if comment.user == current_user %>
    <div class='mr10 float-right'>
      <a href="#"><%= icon 'fa', 'pen' %></a>
      <a href="#"><%= icon 'fas', 'trash', class: 'pr-1' %></a>
    </div>
  <% end %>
  </td>
</tr>